
tr {
    color: white;
}

table {
    background-image: url(https://blackandgiftedblog.files.wordpress.com/2020/11/reggiebecton.jpg);
    background-position: bottom;
    background-size: 75rem;
    margin: 15% auto;
    font-size: 1.3rem;
    border-radius: 10px;
}

th, td {
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
    height: 300px;
}

.music1 {
    margin-left:  59rem;
    margin-bottom: -40em;
    width: 17rem;










    
